body{
    background-color: #F6EFEC
}

h1
{
    text-align:center;
}
a
{
    text-decoration: none;
    color: black;
}
h2{
    text-align: center;
}
h3
{
    text-align: left;
    background-color:white;
    color:black;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.newComments{
    background-color: #82adf2;
}
.img-fluid{
    width: 100%;
    height: auto;

}
#contenu{
    display: flex;
    flex-wrap: nowrap;
}
.nav{
    width: 15%;
}
footer{
    background-color: black;
}
