body{
    background-color: #F6EFEC
}

h1
{
    text-align:center;
}
a
{
    text-decoration: none;
    color: black;
}
h2{
    text-align: center;
}
h3
{
    text-align: left;
    background-color:white;
    color:black;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.newComments{
    background-color: #82adf2;
}
.img-fluid{
    width: 100%;
    height: auto;

}
#contenu{
    display: flex;
    flex-wrap: nowrap;
}
.nav-tabs{
    text-align: center;
}
footer{
    background-color: #B8B8B8;
}

.comment{
    border-top: black 1px solid;
    border-left: black 1px solid;
}
.linkSuit{
    font-style: italic;
    color : #B8B8B8;
    margin-right: auto;
    margin-left: auto;
}
.sommaire{
    border-right: black 1px solid;
}
.listInfos{
    border-left: black 1px solid;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
    color: #fff;
    background-color: #6c757d;
}
#pseudo{
    width: auto;
}