{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block content %}
<h2>Editeur de texte</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form method="post" action="../public/index.php?route=add_new_article" name="sentMessage" id="contactForm">
                    <div class="control-group">
                        <div class="form-group controls">

            <label for="titre">Titre</label> : <input type="text" name="titre" id="pseudo" required data-validation-required-message="Entrez un titre" /><br />
            <label for="article">Article</label> :  <textarea name="article" id="message" rows="20"  ></textarea><br />

            <input type="submit" class="btn btn-secondary" value="Envoyer" />
</div>
</div>
    </form>
    </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="../tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#message'
        });
    </script>
{% endblock %}