<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="../public/css/style.css" rel="stylesheet" />
</head>
<body>
<div id="content">
    {% block content %}
        <a href="../public/index.php">Retour à l'accueil</a>{% endblock %}
</div>
{% block javascripts %}
<script> console.log('Hello World !');</script>
{% endblock %}

</body>
</html>