{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}
{% block content %}
    <p class="newComments">Ajouter un nouveau commentaire :
        <form method="post" action="../public/index.php?route=add_comment&article=<?php echo $_GET['article'];?>" class="newComments">
    <p>
        <label for="pseudo">Pseudo</label> : <input type="text" name="pseudo" id="pseudo" value="<?php if(isset($_POST['pseudo'])){echo $_POST['pseudo'];}?>" /><br />
        <label for="message">Message</label> :  <input type="text" name="message" id="message" value="<?php if(isset($_POST['message'])){echo $_POST['message'];}?>" /><br />

        <input type="submit" value="Envoyer" />
    </p>
    </form>
    </p>
{% endblock %}