{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block content %}
    {{ dump(user) }}
    En construction
    {% for data in user %}
        <p>{{ data.name }}
            {{ data.email }}</p>
    {% endfor %}
{% endblock %}