{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block content %}
    <form method="post" action="../public/index.php?route=login" class="newComments">
        <label for="pseudo">Pseudo</label>
        <input type="text" name="pseudo" id="pseudo" />
        <br />
        <label for="pass">Mot de passe</label>
        <input type="password" name="pass" id="pass" />
        <br />
        <input type="submit" value="Envoyer" />
    </form>
{% endblock %}