{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}
{% block content %}
    {{ parent() }}

<form method="post" action="../public/index.php?route=newName" class="newName">
    <label for="message">Pseudo</label> :  <input type="text" name="name" id="message" value={{ app.session.name }} ><br />
    <input type="submit" value="Modifier" />
</form>
    <form method="post" action="../public/index.php?route=newMail" class="newMail">
        <label for="message">Email</label> :  <input type="email" name="email" id="email" value={{ info.email }} ><br />
        <input type="submit" value="Modifier" />
    </form>
    <form method="post" action="../public/index.php?route=newPass" class="newName">
        <label for="pass">Mot de passe</label>
        <input type="password" name="pass" id="pass" />
        <br />
        <label for="checkpass">Confirmation mot de passe</label>
        <input type="password" name="checkpass" id="checkpass" />
        <input type="submit" value="Changer mot de passe">
    </form>
{% endblock %}