{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}
{% block content %}
<h1>Mon espace membre</h1>


BTN mes données</br>

En construction


<ul>
    <li>Pseudo : {{ app.session.name }}</li>
    <li>Email : {{ info.email }}</li>
    <li>Création du compte : {{ info.created_at }}</li>
</ul>

    <a href="../public/index.php?route=comment_member">Mes commentaires</a></br>
    <a href="../public/index.php?route=update_member">Modifier vos données</a></br>
    <a href="../public/index.php?route=delete_member">Supprimer votre compte</a></br>
    {{ parent() }}

{% endblock %}