{% extends 'base.html.twig' %}

{% block title %}Mes commentaires{% endblock %}
{% block content %}
<h1>Mes commentaires
    En construction
    {% for data in comment %}

    <h3>{{' le ' ~ data.created_at }} </h3>
    <p>{{ data.content }}</p>
        <a href="{{' ../public/index.php?route=delete_comment&ID_comment='~data.id~'&ID_article='~app.get.article}}">Supprimer </a>
        <a href="{{' ../public/index.php?route=get_comment&ID_comment='~data.id~'&ID_article='~app.get.article}}">Modifier</a>
    {% endfor %}
{% endblock %}